body {
    font-family: "Vazirmatn", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
    direction: rtl;
    background-color: #1e1c19;
}
h1{
    color: #fff;
}
#inputText{
    box-sizing: border-box;
    font-size: 1.2em;
    color: #fff;
    background-color: #2b2a33;
    direction: ltr;
    resize: none;
    padding: 0.7em;
    border-radius: 0.5em;
    min-height: 4em;
    max-height: 12.5em;
    width: calc(50% + 50px);
    margin: 5px;
}
button {
    padding: 10px 20px;
    background-color: #1173dbab;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    background-color: #0057b371;
}
#result {
    overflow-wrap: break-word;
    width: fit-content;
    max-width: 70vw;
    border-radius: 15px;
    background-color:bisque;
    border: 2px black solid;
    padding: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}
